html,
body {
    height: 100%;
}

body.login-body{
	background:#222222;	
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.btn, .form-control{
	border-radius:0px;	
}

.login-box{
	margin-top:10%;	
	padding:0px;
	background:#eaeaec;
	border-radius:5px;
}
.login-box>p{
	padding:10px 15px;
}

#login-form{
	background:#eaeaec;
	padding:10px 15px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
}
.login-box>h2{
	text-align:center;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;	
	background:#3d9970;
	padding:25px 1px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	margin-top:0px;
}

.maincontainer{
	margin-top:30px;	
}

.s-row{
	display:block;
	margin-left:35px;
	margin-right:35px;	
}
.separator-horizontal{
	display:inline-block;
	margin-left:15px;
	margin-right:15px;		
}


/*-- SPINNER -----------------------------------------*/
.loader,
.loader:before,
.loader:after {
  background: #337ab7;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
}
.loader {
  text-indent: -9999em;
  margin: 8em auto;
  position: relative;
  font-size: 11px;
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:after {
  left: 1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #337ab7;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #337ab7;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #337ab7;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #337ab7;
    height: 5em;
  }
}
/*-- END SPINNER -------------------------------------*/